body{
    background-color: lightblue;
}
h1{
    color:blueviolet ;
    text-align:center;
    font-size: 50;
}
h2{
    color: tomato;
    text-align: center;
}
p{
    font-family: Geneva ;
    font-size: 15px;
    text-align: center;
    padding: 10px;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: topleft;
    width: 180px;
    }
img{
    width: 100px;
    height: 100px;
    text-align: center;
}
.phone{
    margin-right: 11930px;
}
.about-section {
    padding: 50px;
    text-align: center;
    background-color: #5d4756;
    color: white;
  }
a{
    font-size: 100;
    color: aqua;
}
button{
    font: size 20px; color: rgb(150, 222, 135);
    background-color: coral;
}
